html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  font-family: "Microsoft JhengHei";
}

header {
  width: 100%;
  color: #ffffff;
  background: url(../img/header_desktop.png) no-repeat center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
header nav {
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.6rem;
  position: absolute;
  top: 0;
  width: 100%;
}
header nav h1 {
  display: block;
  background: url(../img/logo_w.png) no-repeat;
  background: url(../img/logo_w@svg.svg) no-repeat;
  width: 12%;
  height: 1.5rem;
  background-size: contain;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}
header nav ul {
  display: flex;
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  padding: 0 0.9rem;
  white-space: nowrap;
}
header nav ul li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
header .picture-text {
  text-align: center;
  background: rgba(0, 0, 0, 0.35);
  padding: 1.25rem;
}
header .picture-text h2 {
  font-size: 2.25rem;
  line-height: 3rem;
  margin-bottom: 1rem;
  display: inline;
}
header .picture-text p {
  font-size: 1rem;
  line-height: 1.3rem;
}
header .picture-text p .icon {
  margin: 0 0.1rem;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 3.4rem 2.7rem;
  background-color: #efe9e7;
}
footer .footer-section {
  flex: 1;
  color: #3d1101;
}
footer .footer-section h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}
footer .footer-section p, footer .footer-section ul, footer .footer-section li {
  font-size: 1rem;
  line-height: 1.3rem;
  list-style: disc;
}
footer .footer-section ul {
  margin-left: 1.25rem;
}
footer .social-media {
  display: flex;
  align-items: flex-end;
  flex: 1;
  flex-direction: column;
}
footer .social-media h1 {
  display: inline-block;
  background: url(../img/logo_l.png) no-repeat right;
  background: url(../img/logo_l@svg.svg) no-repeat right;
  width: 72%;
  height: 3rem;
  background-size: contain;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 1.4rem;
}
footer .social-media .social-icon {
  display: inline-block;
}
footer .social-media i {
  margin-left: 0.75rem;
  font-size: 2.25rem;
}
footer .social-media .fa-square-google-plus {
  color: #db4437;
}
footer .social-media .fa-square-twitter {
  color: #41abe1;
}
footer .social-media .fa-square-facebook {
  color: #3a5795;
}

@media (max-width: 768px) {
  header {
    background: url(../img/header_mobile.png) no-repeat center top;
    background-size: cover;
  }
  header nav {
    padding: 1rem 0.875rem;
  }
  header nav h1 {
    width: 5.9rem;
  }
  header nav .menu-toggle {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
  }
  header nav .menu-toggle span, header nav .menu-toggle::before, header nav .menu-toggle::after {
    background-color: #ffffff;
    position: absolute;
    height: 3px;
    width: 100%;
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
  }
  header nav .menu-toggle span {
    top: 50%;
  }
  header nav .menu-toggle::before {
    content: "";
    top: 25%;
  }
  header nav .menu-toggle::after {
    content: "";
    top: 75%;
  }
  header nav ul {
    display: none;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 1000;
  }
  header nav ul li {
    text-align: center;
    padding: 0.75rem;
  }
  header nav ul li a {
    color: #ffffff;
    padding: 0.5rem;
  }
  header .picture-text h2 {
    display: block;
  }
  footer {
    flex-direction: column;
    padding: 3.125rem 0.7rem;
  }
  footer .footer-section {
    text-align: left;
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  nav ul {
    display: flex !important;
  }
}
.yummy-secret {
  text-align: center;
  padding: 3.1rem 3.9rem;
  background-color: #efe9e7;
  color: #3d1101;
}
.yummy-secret h3 {
  font-size: 1.25rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}
.yummy-secret > h3 {
  position: relative;
  display: inline-block;
}
.yummy-secret > h3::before, .yummy-secret > h3::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 18vw;
  height: 1px;
  background-color: #979797;
}
.yummy-secret > h3::before {
  left: 13rem;
}
.yummy-secret > h3::after {
  right: 13rem;
}
.yummy-secret .secrets-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.yummy-secret .secrets-container .secret-item {
  flex: 1;
  max-width: 300px;
  margin: 1rem;
  text-align: center;
}
.yummy-secret .secrets-container .secret-item img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 50%;
  display: block;
  margin: 0 auto 1.25rem auto;
}
.yummy-secret .secrets-container .secret-item h3 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: 0.7rem;
}
.yummy-secret .secrets-container .secret-item p {
  font-size: 1rem;
  line-height: 1.3rem;
  text-align: left;
}

@media (max-width: 768px) {
  .yummy-secret h3::before, .yummy-secret h3::after {
    display: none;
  }
  .yummy-secret .secrets-container {
    flex-direction: column;
    max-width: none;
  }
}
.chef {
  display: flex;
  flex-wrap: wrap;
  background-color: #3d1101;
  color: #efe9e7;
  padding: 0 2.6rem;
}
.chef .chef-image {
  flex: 1;
  margin-right: 1.6rem;
}
.chef .chef-image img {
  width: 100%;
  height: auto;
  display: block;
}
.chef .chef-description {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.chef .chef-description h3 {
  font-size: 1.25rem;
  line-height: 2rem;
}
.chef .chef-description h4 {
  margin-bottom: 1rem;
}
.chef .chef-description h4, .chef .chef-description p {
  font-size: 1rem;
  line-height: 1.3rem;
}

@media (max-width: 768px) {
  .chef {
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .chef .chef-image img {
    width: 100vw;
  }
  .chef .chef-description {
    padding: 1.875rem 2rem;
  }
}
.comments {
  text-align: center;
  padding: 3.1rem 3.9rem;
  background-color: #efe9e7;
  color: #3d1101;
}
.comments h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}
.comments .comments-container {
  display: flex;
  justify-content: space-around;
}
.comments .comments-container .comment-header {
  display: flex;
  align-items: center;
}
.comments .comments-container .comment-header img {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  margin-right: 0.8rem;
}
.comments .comments-container .comment-header h4 {
  font-size: 1.125rem;
  line-height: 1.5rem;
}
.comments .comments-container p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-left: 5rem;
  text-align: left;
}
.comments .comments-container .comment-name {
  margin-top: 1rem;
  color: rgba(61, 17, 0, 0.75);
  text-align: right;
}

@media (max-width: 768px) {
  .comments {
    padding: 3.125rem 0.625rem;
    width: 100%;
  }
  .comments .comments-container {
    flex-direction: column;
  }
}
.reserve {
  text-align: center;
  padding: 3.1rem 2.6rem;
  background-color: #f6f4f3;
  color: #3d1101;
}
.reserve h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1.1rem;
}
.reserve .reserve-container {
  display: flex;
  justify-content: space-around;
}
.reserve .reserve-container img {
  flex: 1;
  height: auto;
  display: block;
}
.reserve .reserve-container .form-container {
  flex: 1;
  text-align: left;
  margin-left: 1.25rem;
}
.reserve .reserve-container .form-container form {
  display: flex;
  flex-direction: column;
}
.reserve .reserve-container .form-container form .form-group {
  margin-bottom: 0.75rem;
}
.reserve .reserve-container .form-container form .form-group label {
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 0.375rem;
}
.reserve .reserve-container .form-container form .form-group input {
  width: 100%;
  padding: 0.3rem 0.75rem;
  border: 1px solid #CCCCCC;
  box-shadow: inset 0px 1px 0px 0px #ECECEC;
  border-radius: 3px;
}
.reserve .reserve-container .form-container form .form-group .radio-group {
  display: flex;
  align-items: center;
  justify-content: left;
}
.reserve .reserve-container .form-container form .form-group .radio-group label {
  margin: 0;
}
.reserve .reserve-container .form-container form .form-group .radio-group input {
  margin-right: 2.25rem;
  width: auto;
  padding: 0 0;
  border: none;
  box-shadow: none;
  border-radius: 0;
}
.reserve .reserve-container .form-container form .form-actions {
  display: flex;
  justify-content: right;
  margin-top: 1.9rem;
}
.reserve .reserve-container .form-container form .form-actions button {
  padding: 0.375rem 1.3rem;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border: none;
  color: #ffffff;
}
.reserve .reserve-container .form-container form .form-actions .cancel {
  background-color: rgba(0, 0, 0, 0.35);
  margin-right: 0.7rem;
}
.reserve .reserve-container .form-container form .form-actions .submit {
  background-color: #f56c23;
}

@media (max-width: 768px) {
  .reserve {
    padding: 3.125rem 0.625rem;
  }
  .reserve h3 {
    margin-bottom: 1.875rem;
  }
  .reserve .reserve-container {
    flex-direction: column;
  }
  .reserve .reserve-container img {
    max-width: 100%;
    margin-bottom: 1.875rem;
  }
  .reserve .reserve-container .form-container {
    margin: 0;
  }
}
.cart {
  text-align: center;
  padding: 3rem 2.6rem 0;
  background-color: #efe9e7;
  color: #3d1101;
}
.cart .cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6rem;
}
.cart .cart-header h3 {
  font-size: 1.25rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
}
.cart .cart-header h3 i {
  font-size: 2rem;
  margin-right: 1rem;
  color: #3d1101;
}
.cart .cart-header .search-bar {
  display: flex;
  align-items: center;
}
.cart .cart-header .search-bar input {
  padding: 0.25rem;
  border: 2px solid #3d1101;
  font-size: 1rem;
  width: 41vw;
  height: 2rem;
}
.cart .cart-header .search-bar input:focus {
  outline: none;
}
.cart .cart-header .search-bar button {
  background-color: #3d1101;
  color: #ffffff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  height: 2rem;
}
.cart .cart-header .search-bar button i {
  font-size: 1rem;
}
.cart .cart-header .search-bar button:hover {
  background-color: #5a3d31;
}
.cart .cart-header .cart-info {
  display: flex;
  align-items: center;
}
.cart .cart-header .cart-info a {
  color: #3d1101;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.3rem;
  margin-right: 0.75rem;
}
.cart .cart-header .cart-info a:hover {
  text-decoration: underline;
}
.cart .cart-header .cart-info .line {
  border: 1px solid #3d1101;
  height: 0.875rem;
  margin-right: 0.75rem;
}
.cart .cart-header .cart-info .cart-count {
  position: relative;
  cursor: pointer;
}
.cart .cart-header .cart-info .cart-count:hover {
  color: #5a3d31;
}
.cart .cart-header .cart-info .cart-count i {
  font-size: 1.75rem;
}
.cart .cart-header .cart-info .cart-count span {
  background-color: #ff5e45;
  color: #ffffff;
  padding: 0.16rem 0.3rem;
  border-radius: 50%;
  font-size: 0.75rem;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
.cart .cart-container {
  display: flex;
}
.cart .cart-container .categories {
  flex: 1;
  margin-right: 1.25rem;
}
.cart .cart-container .categories ul {
  list-style: none;
  text-align: left;
}
.cart .cart-container .categories ul li a {
  text-decoration: none;
  font-size: 1rem;
  line-height: 2rem;
  color: #3d1101;
  display: block;
  padding: 0.5rem;
  border-bottom: #3d1101 solid 1px;
}
.cart .cart-container .categories ul li a:hover {
  background-color: #5a3d31;
  color: #ffffff;
}
.cart .cart-container .categories ul .selected-category {
  background-color: #3d1101;
}
.cart .cart-container .categories ul .selected-category a {
  color: #ffffff;
}
.cart .cart-container .products {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  margin-left: 2.5%;
}
.cart .cart-container .products .product-card {
  position: relative;
  text-align: center;
  background-color: #efe9e7;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
  max-width: 190px;
  margin: 0 0.625rem 1.25rem;
}
.cart .cart-container .products .product-card:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.cart .cart-container .products .product-card img {
  width: 100%;
  height: auto;
  margin-bottom: 0.7rem;
}
.cart .cart-container .products .product-card .fa-heart {
  position: absolute;
  top: 0.6rem;
  left: 0.6rem;
  font-size: 1.25rem;
  color: #ffffff;
}
.cart .cart-container .products .product-card .product-info h4 {
  font-size: 1.25rem;
  line-height: 1.7rem;
}
.cart .cart-container .products .product-card .product-info p {
  font-size: 0.75rem;
  line-height: 1rem;
  margin-bottom: 0.5rem;
}
.cart .cart-container .products .product-card .product-info .product-line {
  border: 1px solid #3d1101;
  width: 5.7rem;
  margin: 0 auto 1.25rem;
}
.cart .cart-container .products .product-card .product-info .price {
  font-size: 1.25rem;
  margin-bottom: 0.8rem;
  font-family: Roboto-Light;
}
.cart .cart-container .products .product-card .product-info .price span {
  font-family: "Microsoft JhengHei";
  font-style: italic;
  font-weight: bold;
}
.cart .cart-container .products .product-card .product-info .add-to-cart {
  color: #ff5e45;
  border: 2px solid #ff5e45;
  padding: 0.25rem 3rem;
  background-color: #efe9e7;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 0.625rem 0.875rem;
}
.cart .cart-container .products .product-card .product-info .add-to-cart:hover {
  background-color: #ff5e45;
  color: #ffffff;
}

@media (max-width: 768px) {
  .cart {
    padding: 3rem 1.125rem 1.75rem;
  }
  .cart .cart-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .cart .cart-header h3 {
    width: 100%;
    text-align: left;
    margin-bottom: 1rem;
  }
  .cart .search-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .cart .search-bar button {
    flex: 1;
  }
  .cart .search-bar input {
    flex: 11;
  }
  .cart .cart-info {
    width: 100%;
    justify-content: right;
    margin-bottom: 2rem;
  }
  .cart .categories {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .cart .categories ul {
    flex-direction: column;
    align-items: center;
  }
  .cart .categories ul li {
    text-align: left;
  }
  .cart .categories ul li a {
    padding: 0.5rem;
  }
  .cart .products {
    width: 100%;
  }
  .cart .products .product-card {
    width: 100%;
    max-width: none;
  }
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 3.125rem;
  text-align: center;
  background-color: #efe9e7;
  color: #3d1101;
}
.form h1 {
  background: url(../img/logo_l.png) no-repeat center;
  background: url(../img/logo_l@svg.svg) no-repeat center;
  width: 72%;
  height: 3rem;
  background-size: contain;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0.3rem;
}
.form h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 2.2rem;
}
.form .login, .form .register {
  display: none;
  border-top: #f56c23 3px solid;
  padding: 1rem;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
}
.form .login h3, .form .register h3 {
  font-size: 1.125rem;
  font-weight: bold;
}
.form .login label, .form .register label {
  text-align: left;
  font-size: 1rem;
  line-height: 1.3rem;
  display: block;
  margin-bottom: 0.2rem;
  margin-top: 1rem;
}
.form .login .input-with-icon, .form .register .input-with-icon {
  display: flex;
  align-items: center;
  position: relative;
}
.form .login .input-with-icon i, .form .register .input-with-icon i {
  position: absolute;
  left: 0.625rem;
  color: rgba(61, 17, 0, 0.5);
}
.form .login .input-with-icon input, .form .register .input-with-icon input {
  width: 16.875rem;
  padding: 0.5rem;
  padding-left: 2rem;
}
.form .login .input-with-icon input:focus, .form .register .input-with-icon input:focus {
  outline: none;
}
.form .login.active-form, .form .register.active-form {
  display: block;
}
.form .login .form-actions, .form .register .form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1.9rem;
}
.form .login .form-actions button, .form .register .form-actions button {
  padding: 0.375rem 3rem;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border: none;
  color: #ffffff;
}
.form .login .form-actions .to-register, .form .register .form-actions .to-register {
  background-color: rgba(0, 0, 0, 0.35);
  margin-right: 0.7rem;
}
.form .login .form-actions .to-register:hover, .form .register .form-actions .to-register:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.form .login .form-actions .submit, .form .register .form-actions .submit {
  background-color: #f56c23;
}
.form .login .form-actions .submit:hover, .form .register .form-actions .submit:hover {
  background-color: #db530a;
}
.form .login a, .form .register a {
  margin-top: 0.1rem;
  color: #f56c23;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: left;
}
.form .login a:hover, .form .register a:hover {
  text-decoration: underline;
}
.form .register-flex {
  display: flex;
  flex-direction: row;
}
.form .register-flex p {
  flex: 1;
  text-align: left;
}
.form .register-flex form {
  flex: 1;
}
.form .register-flex form button {
  padding: 0.375rem 3rem;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border: none;
  color: #ffffff;
  background-color: #f56c23;
}
.form .register-flex form button:hover {
  background-color: #db530a;
}/*# sourceMappingURL=all.css.map */